{
  "branches": ['+([0-9])?(.{+([0-9]),x}).x', 'main', 'next', 'next-major', {name: 'beta', prerelease: true}, {name: 'alpha', prerelease: true}, {name: 'refs/pull/3/merge', prerelease: true}],
  "plugins": [
    ["@semantic-release/commit-analyzer", {"preset": "conventionalcommits", "releaseRules": [{"scope": "no-release", "release": "patch"}] }],
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog", {
      "changelogFile": "CHANGELOG.md"
    }
    ],
    "@semantic-release/npm",
    "@semantic-release/git"
  ]
}
