{
  "branches": [
    { "name": "refs/pull/3/merge", "prerelease": true },
    { name: "main", channel: "master" }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog", {
      "changelogFile": "CHANGELOG.md"
    }
    ],
    "@semantic-release/npm",
    "@semantic-release/git"
  ]
}
